
.center-container
  width: auto
  margin: 0.5em auto
  top: 3em
  position: relative
  text-align: center
  input
    display: block
    width: 80%
    margin: 1em auto

#file-download
  width: 80%
  a
    padding: 1em
    width: 20em
    float: left
    margin: 1em
    border-radius: 12px

#edit-table-info
  width: 80em
  margin: 0.5em auto
  border: 1px solid blue
  label
    width: 18em
    margin-right: 1em
  input
    margin: 1em

#button-group
  width: 20em
  margin: 0.5em auto
  button
    width: 8em
    margin: 1em
